@import url(https://fonts.googleapis.com/css?family=Lato:700);

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	background: #ecf0f1;
	color: #444;
	font-family: 'Lato', Tahoma, Geneva, sans-serif;
	font-size: 16px;
	padding: 10px;
}

.set-size {
	font-size: 10em;
}

.charts-container:after {
	clear: both;
	content: "";
	display: table;
}

.pie-wrapper {
	height: 5em;
	width: 5em;
	float: left;
	margin: 15px;
	position: relative;
}

.pie-wrapper:nth-child(3n+1) {
	clear: both;
}

.pie-wrapper .pie {
	height: 100%;
	width: 100%;
	clip: rect(0, 1em, 1em, 0.5em);
	left: 0;
	position: absolute;
	top: 0;
}

.pie-wrapper .pie .half-circle {
	height: 100%;
	width: 100%;
	border: 0.1em solid #3498db;
	border-radius: 50%;
	clip: rect(0, 0.5em, 1em, 0);
	left: 0;
	position: absolute;
	top: 0;
}

.pie-wrapper .label {
	background: #34495e;
	border-radius: 50%;
	bottom: 0.4em;
	color: #ecf0f1;
	cursor: default;
	display: block;
	font-size: 12px;
	left: 0.4em;
	line-height: 5em;
	position: absolute;
	right: 0.4em;
	text-align: center;
	top: 0.4em;
}

.pie-wrapper .label .smaller {
	color: #bdc3c7;
	font-size: .45em;
	padding-bottom: 20px;
	vertical-align: super;
}

.pie-wrapper .shadow {
	height: 100%;
	width: 100%;
	border: 0.1em solid #bdc3c7;
	border-radius: 50%;
}

.pie-wrapper.without .label {
	background: none;
	color: #7f8c8d;
}

.pie-wrapper.without .label .smaller {
	color: #bdc3c7;
}

.pie-wrapper.progress-5 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-5 .pie .half-circle {
	border-color: #00ff00;
}

.pie-wrapper.progress-5 .pie .left-side {
	transform: rotate(18deg);
}

.pie-wrapper.progress-10 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-10 .pie .half-circle {
	border-color: #008800;
}

.pie-wrapper.progress-10 .pie .left-side {
	transform: rotate(36deg);
}

.pie-wrapper.progress-15 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-15 .pie .half-circle {
	border-color: #006600;
}

.pie-wrapper.progress-15 .pie .left-side {
	transform: rotate(54deg);
}

.pie-wrapper.progress-20 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-20 .pie .half-circle {
	border-color: #ff0000;
}

.pie-wrapper.progress-20 .pie .left-side {
	transform: rotate(72deg);
}

.pie-wrapper.progress-25 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-25 .pie .half-circle {
	border-color: #880000;
}

.pie-wrapper.progress-25 .pie .left-side {
	transform: rotate(90deg);
}

.pie-wrapper.progress-30 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-30 .pie .half-circle {
	border-color: #660000;
}

.pie-wrapper.progress-30 .pie .left-side {
	transform: rotate(108deg);
}

.pie-wrapper.progress-35 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-35 .pie .half-circle {
	border-color: #0000ff;
}

.pie-wrapper.progress-35 .pie .left-side {
	transform: rotate(126deg);
}

.pie-wrapper.progress-40 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-40 .pie .half-circle {
	border-color: #000088;
}

.pie-wrapper.progress-40 .pie .left-side {
	transform: rotate(144deg);
}

.pie-wrapper.progress-45 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-45 .pie .half-circle {
	border-color: #000066;
}

.pie-wrapper.progress-45 .pie .left-side {
	transform: rotate(162deg);
}

.pie-wrapper.progress-50 .pie .right-side {
	display: none;
}

.pie-wrapper.progress-50 .pie .half-circle {
	border-color: #ffff00;
}

.pie-wrapper.progress-50 .pie .left-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-55 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-55 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-55 .pie .half-circle {
	border-color: #888800;
}

.pie-wrapper.progress-55 .pie .left-side {
	transform: rotate(198deg);
}

.pie-wrapper.progress-60 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-60 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-60 .pie .half-circle {
	border-color: #666600;
}

.pie-wrapper.progress-60 .pie .left-side {
	transform: rotate(216deg);
}

.pie-wrapper.progress-65 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-65 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-65 .pie .half-circle {
	border-color: #ff8800;
}

.pie-wrapper.progress-65 .pie .left-side {
	transform: rotate(234deg);
}

.pie-wrapper.progress-70 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-70 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-70 .pie .half-circle {
	border-color: #aa6600;
}

.pie-wrapper.progress-70 .pie .left-side {
	transform: rotate(252deg);
}

.pie-wrapper.progress-75 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-75 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-75 .pie .half-circle {
	border-color: #883300;
}

.pie-wrapper.progress-75 .pie .left-side {
	transform: rotate(270deg);
}

.pie-wrapper.progress-80 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-80 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-80 .pie .half-circle {
	border-color: #ff00ff;
}

.pie-wrapper.progress-80 .pie .left-side {
	transform: rotate(288deg);
}

.pie-wrapper.progress-85 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-85 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-85 .pie .half-circle {
	border-color: #880088;
}

.pie-wrapper.progress-85 .pie .left-side {
	transform: rotate(306deg);
}

.pie-wrapper.progress-90 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-90 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-90 .pie .half-circle {
	border-color: #660066;
}

.pie-wrapper.progress-90 .pie .left-side {
	transform: rotate(324deg);
}

.pie-wrapper.progress-95 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-95 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-95 .pie .half-circle {
	border-color: #cccccc;
}

.pie-wrapper.progress-95 .pie .left-side {
	transform: rotate(342deg);
}

.pie-wrapper.progress-100 .pie {
	clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-100 .pie .right-side {
	transform: rotate(180deg);
}

.pie-wrapper.progress-100 .pie .half-circle {
	border-color: #666666;
}

.pie-wrapper.progress-100 .pie .left-side {
	transform: rotate(360deg);
}

.pie-wrapper--solid {
	border-radius: 50%;
	overflow: hidden;
}

.pie-wrapper--solid:before {
	border-radius: 0 100% 100% 0%;
	content: '';
	display: block;
	height: 100%;
	margin-left: 50%;
	transform-origin: left;
}

.pie-wrapper--solid .label {
	background: transparent;
}

.pie-wrapper--solid.progress-5 {
	background: linear-gradient(to right, #00ff00 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-5:before {
	background: #34495e;
	transform: rotate(-198deg);
}

.pie-wrapper--solid.progress-10 {
	background: linear-gradient(to right, #008800 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-10:before {
	background: #34495e;
	transform: rotate(-216deg);
}

.pie-wrapper--solid.progress-15 {
	background: linear-gradient(to right, #006600 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-15:before {
	background: #34495e;
	transform: rotate(-234deg);
}

.pie-wrapper--solid.progress-20 {
	background: linear-gradient(to right, #ff0000 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-20:before {
	background: #34495e;
	transform: rotate(-252deg);
}

.pie-wrapper--solid.progress-25 {
	background: linear-gradient(to right, #880000 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-25:before {
	background: #34495e;
	transform: rotate(-270deg);
}

.pie-wrapper--solid.progress-30 {
	background: linear-gradient(to right, #660000 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-30:before {
	background: #34495e;
	transform: rotate(-288deg);
}

.pie-wrapper--solid.progress-35 {
	background: linear-gradient(to right, #0000ff 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-35:before {
	background: #34495e;
	transform: rotate(-306deg);
}

.pie-wrapper--solid.progress-40 {
	background: linear-gradient(to right, #000088 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-40:before {
	background: #34495e;
	transform: rotate(-324deg);
}

.pie-wrapper--solid.progress-45 {
	background: linear-gradient(to right, #000066 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-45:before {
	background: #34495e;
	transform: rotate(-342deg);
}

.pie-wrapper--solid.progress-50 {
	background: linear-gradient(to right, #ffff00 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-50:before {
	background: #34495e;
	transform: rotate(-360deg);
}

.pie-wrapper--solid.progress-55 {
	background: linear-gradient(to right, #888800 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-55:before {
	background: #888800;
	transform: rotate(162deg);
}

.pie-wrapper--solid.progress-60 {
	background: linear-gradient(to right, #666600 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-60:before {
	background: #666600;
	transform: rotate(144deg);
}

.pie-wrapper--solid.progress-65 {
	background: linear-gradient(to right, #ff8800 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-65:before {
	background: #ff8800;
	transform: rotate(126deg);
}

.pie-wrapper--solid.progress-70 {
	background: linear-gradient(to right, #aa6600 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-70:before {
	background: #aa6600;
	transform: rotate(108deg);
}

.pie-wrapper--solid.progress-75 {
	background: linear-gradient(to right, #883300 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-75:before {
	background: #883300;
	transform: rotate(90deg);
}

.pie-wrapper--solid.progress-80 {
	background: linear-gradient(to right, #ff00ff 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-80:before {
	background: #ff00ff;
	transform: rotate(72deg);
}

.pie-wrapper--solid.progress-85 {
	background: linear-gradient(to right, #880088 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-85:before {
	background: #880088;
	transform: rotate(54deg);
}

.pie-wrapper--solid.progress-90 {
	background: linear-gradient(to right, #660066 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-90:before {
	background: #660066;
	transform: rotate(36deg);
}

.pie-wrapper--solid.progress-95 {
	background: linear-gradient(to right, #cccccc 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-95:before {
	background: #cccccc;
	transform: rotate(18deg);
}

.pie-wrapper--solid.progress-100 {
	background: linear-gradient(to right, #666666 50%, #34495e 50%);
}

.pie-wrapper--solid.progress-100:before {
	background: #666666;
	transform: rotate(0deg);
}