* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 50px;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 50px;
    color: white;
}

.radius-5 {
    border-radius: 5px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-15 {
    border-radius: 15px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-25 {
    border-radius: 25px;
}

.wh-5-50 {
    width: 5%;
    height: 50px;
}

.wh-10-50 {
    width: 10%;
    height: 50px;
}

.wh-15-50 {
    width: 15%;
    height: 50px;
}

.wh-20-50 {
    width: 20%;
    height: 50px;
}

.wh-25-50 {
    width: 25%;
    height: 50px;
}

.wh-30-50 {
    width: 30%;
    height: 50px;
}

.wh-35-50 {
    width: 35%;
    height: 50px;
}

.wh-40-50 {
    width: 40%;
    height: 50px;
}

.wh-45-50 {
    width: 45%;
    height: 50px;
}

.wh-50-50 {
    width: 50%;
    height: 50px;
}

.wh-55-50 {
    width: 55%;
    height: 50px;
}

.wh-60-50 {
    width: 60%;
    height: 50px;
}

.wh-65-50 {
    width: 65%;
    height: 50px;
}

.wh-70-50 {
    width: 70%;
    height: 50px;
}

.wh-75-50 {
    width: 75%;
    height: 50px;
}

.wh-80-50 {
    width: 80%;
    height: 50px;
}

.wh-85-50 {
    width: 85%;
    height: 50px;
}

.wh-90-50 {
    width: 90%;
    height: 50px;
}

.wh-95-50 {
    width: 95%;
    height: 50px;
}

.wh-100-50 {
    width: 100%;
    height: 50px;
}

.wh-5-50 {
    background-color: #00ff00;
}

.wh-10-50 {
    background-color: #008800;
}

.wh-15-50 {
    background-color: #006600;
}

.wh-20-50 {
    background-color: #ff0000;
}

.wh-25-50 {
    background-color: #880000;
}

.wh-30-50 {
    background-color: #660000;
}

.wh-35-50 {
    background-color: #0000ff;
}

.wh-40-50 {
    background-color: #000088;
}

.wh-45-50 {
    background-color: #000066;
}

.wh-50-50 {
    background-color: #ffff00;
}

.wh-55-50 {
    background-color: #888800;
}

.wh-60-50 {
    background-color: #666600;
}

.wh-65-50 {
    background-color: #ff8800;
}

.wh-70-50 {
    background-color: #aa6600;
}

.wh-75-50 {
    background-color: #883300;
}

.wh-80-50 {
    background-color: #ff00ff;
}

.wh-85-50 {
    background-color: #880088;
}

.wh-90-50 {
    background-color: #660066;
}

.wh-95-50 {
    background-color: #cccccc;
}

.wh-100-50 {
    background-color: #666666;
}
